requests~=2.32.0
numpy==1.26.0
transformers==4.48.0
pymongo==4.8.0
phonenumbers==8.13.16
redis==5.2.1
python-dotenv~=1.0.1
validators==0.20.0
Pillow~=11.0.0
onnxruntime==1.19.2
scikit-image==0.22.0
pydantic==2.9.2
torch==2.4.1
fastapi~=0.115.6
progressbar2~=4.5.0
httpcore~=1.0.7
RapidFuzz===3.13.0
PyMuPDF==1.25.5
pycountry
python-multipart
playwright
httpx
uvicorn
stem
bs4
presidio-analyzer
spacy
pdf2image
pytesseract
filetype
iocextract
ioc-finder
nltk

